* {
  margin: 50;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00e2ff;
}

button {
  background-color: #2256b7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    color: rgba(74, 41, 4, 0.829) !important;
  }
}
h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 70%;
  margin: auto !important;
  display: block;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  img {
    width: 100%;
    height: auto;
  }
  .description {
    padding: 15px;
    height: auto;
  }
}
.gallery:hover {
  border: 1px solid #777;
}
@media (max-width: 979px) {
}

@media (min-width: 580px) and (max-width: 979px) {
}

@media (max-width: 980px) {
}
